<main role="main" class="container">
    <form #loginForm="ngForm" (ngSubmit)="onLogin()" class="form-signin">
        <div class="mb-3 text-center border-bottom">
          <h1 class="h3 mb-3 font-weight-normal">Ingreso trabajador</h1>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input autocomplete="username email"
              type="email"
              id="email"
              class="form-control"
              name="email"
              placeholder=""
              [(ngModel)]="loginData.email"
              #email="ngModel"
              required email>
            <span [hidden]="!email.errors?.required || email.pristine" class="invalid-feedback">Este campo es requerido.</span>
            <span [hidden]="!email.errors?.email || email.pristine" class="invalid-feedback">Este campo es invalido.</span>
          </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" autocomplete="current-password" id="password" class="form-control" name="password" placeholder="" required [(ngModel)]="loginData.password"
              #password="ngModel">
          </div>

          <div class="alert alert-danger" role="alert" [hidden]="!invalidCredentials">
              Email y/o contraseñas incorrectos.
          </div>

          <div class="alert alert-danger" role="alert" [hidden]="!userIsBlocked">
            Su usuario se encuentra deshabilitado.
          </div>

          <div class="text-center">
              <button class="btn btn-primary" type="submit" [disabled]="submitting">
                  <span [hidden]="!submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Ingresar
              </button>
          </div>
      </form>

      <div class="lead text-center">
        Registrate <a [routerLink]="['/registro-persona-de-oficio']">aquí</a>.
      </div>
</main>
