<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Opiniones</h1>
</div>

<div *ngIf="tradesman && reviews">

  <div class="mb-1">
    <span class="lead">Has recibido {{ tradesman?.reviews?.length }} opiniones.</span>

    <div class="">
      <span class="lead">Puntaje promedio: {{ tradesman.averageScore | number: '1.2-2' }} / 5,00</span>
  </div>

  <div class="mt-2">
    <div *ngIf="tradesman">
      <div *ngFor="let review of reviews">
        <!-- Only show review if is not empty -->
        <div class="card mb-4">
          <app-tradesman-review [review]="review"></app-tradesman-review>
        </div>
      </div>
      <div *ngIf="!(tradesman?.reviews?.length)">
        <p class="lead">El Todavía no has recibido ninguna opinión.</p>
      </div>
    </div>
  </div>

</div>
