<main role="main" class="container">
  <div class="border-bottom mb-3">
    <h1>Encontrá un trabajador de oficio</h1>
    <p>Encontra a un trabajador por sus datos personales.</p>
  </div>

  <div>
    <form>
      <div class="form-group row">
        <label for="searchBy" class="col-md-2 col-form-label">Buscar por</label>
        <div class="col-md-10">
          <select class="form-control" id="searchBy" (ngModelChange)="onSearchByChanged($event)" [(ngModel)]="searchBy"
                  [ngModelOptions]="{standalone: true}">
            <option value="nameAndCity">Nombre y ciudad</option>
            <option value="phoneNumber">Teléfono</option>
            <option value="email">Correo electrónico</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <hr>

  <div *ngIf="!searchSettingsReady">
    <div class="mt-4" style="min-height: 200px;">
      <app-spinner [active]="true"></app-spinner>
    </div>
  </div>

  <div *ngIf="searchSettingsReady">
    <div>
      <form #searchForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="searchBy === 'nameAndCity'">
        <div class="form-group row">
          <label for="firstName" class="col-md-2 col-form-label">Nombre</label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="searchModel.firstName" />
          </div>
        </div>

        <div class="form-group row">
          <label for="lastName" class="col-md-2 col-form-label">Apellido</label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="searchModel.lastName" />
          </div>
        </div>

        <div class="form-group row">
          <label for="state" class="col-md-2 col-form-label">Provincia</label>
          <div class="col-md-10">
            <select [ngModel]="searchModel.state" class="form-control" name="state" id="state"
                    (ngModelChange)="stateSelectChange($event)"
                    #state="ngModel">
              <option disabled [ngValue]="null">Seleccione una provincia</option>
              <option *ngFor="let state of statesOptions" [ngValue]="state">{{state.name}}</option>
            </select>
          </div>
        </div>


        <div class="form-group row">
          <label for="cityId" class="col-md-2 col-form-label">Ciudad</label>
          <div class="col-md-10">
            <select [(ngModel)]="searchModel.cityId" class="form-control" name="cityId" id="cityId"
                    #cityId="ngModel">
              <option disabled [ngValue]="null">Seleccione una localidad</option>
              <option *ngFor="let city of searchModel.state ? searchModel.state.cities : []"
                      [value]="city.id">{{city.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <button class="btn btn-lg btn-primary custom-mobile-btn" role="button">Buscar</button>
          </div>
        </div>
      </form>

      <form #searchForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="searchBy === 'email'">
        <div class="form-group row">
          <label for="email" class="col-md-2 col-form-label">Correo electrónico</label>
          <div class="col-md-12">
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="searchModel.email" />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <button class="btn btn-lg btn-primary custom-mobile-btn" role="button">Buscar</button>
          </div>
        </div>
      </form>

      <form #searchForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="searchBy === 'phoneNumber'">
        <div class="form-group row">
          <label for="phone" class="col-md-2 col-form-label">Teléfono</label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="searchModel.phone" />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <button class="btn btn-lg btn-primary custom-mobile-btn" role="button">Buscar</button>
          </div>
        </div>
      </form>
    </div>

    <div>
      <hr>
    </div>

    <div *ngIf="!resultsReady">
      <div class="mt-4" style="min-height: 200px;">
        <app-spinner [active]="true"></app-spinner>
      </div>
    </div>

    <div *ngIf=resultsReady>
      <div *ngIf="tradesmen.length">
        <div *ngFor="let tradesman of tradesmen; let i = index">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <img alt="Imagén del trabajador" style="width:150px;height:150px;"
                       class="rounded-circle img-thumbnail"
                       [src]="(tradesman?.imageProfilePath) ? (apiUrl + '/uploads/' + tradesman?.imageProfilePath) : ('https://lorempixel.com/400/400/people?' + i)">
                </div>
                <div class="col">
                  <h5><a routerLink="/detalle/{{tradesman.id}}">{{ tradesman.name }} {{ tradesman.lastName }}</a></h5>

                  <div>{{ tradesman?.tradesmanSkilledTrades?.length ?
                      tradesman.tradesmanSkilledTrades[0].skilledTrade.name : ''}}</div>

                  <div>
                    <ngb-rating [rate]="tradesman.averageScore" [readonly]=true [max]=5>
                    </ngb-rating>
                    ({{ tradesman.reviews.length }})
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ngb-pagination [collectionSize]="totalNumberOfResults" [(page)]="page" [maxSize]="5" [rotate]="false"
                        [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>
      </div>

      <!-- No tradesman found message -->
      <div *ngIf="showNoResultsMessage">
        <p class="lead mt-2 text-warning" style="min-height: 200px;">No se encontraron resultados.</p>
      </div>

    </div>
  </div>
</main>
