<main role="main" class="container">
  <div class="starter-template">

    <div class="row align-items-center">
      <div class="col-sm"></div>
      <div class="col-sm-auto pr-1">
        <img src="assets/images/brand-logo.png" width="120" alt="Logo del sitio">
      </div>
      <div class="col-sm-auto pl-1">
        <h1 class="align-bottom">TodoOficios</h1>
      </div>
      <div class="col-sm"></div>
    </div>

    <p class="lead mt-4">Encontrá personas capacitadas para realizar arreglos en tu hogar o establecimiento comercial.</p>

    <div *ngIf="hasFinishedLoading">
      <form #searchForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-row">

          <div class="form-group col-md">
            <div>
              <select [(ngModel)]="model.skilledTradeId" class="form-control" name="skilledTradeId" id="skilledTradeId" required #skilledTradeId="ngModel">
                <option disabled [ngValue]="null">Seleccione un oficio</option>
                <option *ngFor="let skilledTrade of skilledTrades" [value]="skilledTrade.id">{{skilledTrade.name}}</option>
              </select>
            </div>

            <span [hidden]="skilledTradeId.valid || (skilledTradeId.pristine && !searchForm.submitted)" class="invalid-feedback text-left">Este campo es requerido.</span>
          </div>

          <div class="form-group col-md">
            <select [ngModel]="model.state" class="form-control" name="state" id="state" required (ngModelChange)="stateSelectChange($event)" #state="ngModel">
              <option disabled [ngValue]="null">Seleccione una provincia</option>
              <option *ngFor="let state of states" [ngValue]="state">{{state.name}}</option>
            </select>
            <span [hidden]="state.valid || (state.pristine && !searchForm.submitted)" class="invalid-feedback text-left">Este campo es requerido.</span>
          </div>

          <div class="form-group col-md">
            <select [(ngModel)]="model.cityId" class="form-control" name="cityId" id="cityId" required #cityId="ngModel">
              <option disabled [ngValue]="null">Seleccione una localidad</option>
              <option *ngFor="let city of model.state ? model.state.cities : []" [value]="city.id">{{city.name}}</option>
            </select>
            <span [hidden]="cityId.valid || (cityId.pristine && !searchForm.submitted)" class="invalid-feedback text-left">Este campo es requerido.</span>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <button class="btn btn-lg btn-primary" role="button" id="searchButton">Buscar</button>
          </div>
        </div>

        <div class="text-center mt-3">
          <a routerLink="/busqueda-por-datos-personales">O buscá un trabajador por sus datos personales...</a>
        </div>
      </form>
    </div>

    <div *ngIf="!hasFinishedLoading" class="mt-2">
      <app-spinner></app-spinner>
    </div>
  </div>
</main>
