@import "~bootstrap-scss/_functions.scss";
@import "~bootstrap-scss/_variables.scss";
@import "~bootstrap-scss/_mixins.scss";


#searchButton {
    width: 100%;
}

@include media-breakpoint-up(md) {
    #searchButton {
        width: auto;
    }
}
