<div class="tradesman-area-layout">
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">TodoOficios</a>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="javascript:" (click)="onLogoutClick()">Salir</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="/panel-trabajador" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">
                <fa-icon icon="home"></fa-icon>
                Inicio
              </a>
            </li>
            <li>
              <a class="nav-link" routerLink="/panel-trabajador/perfil" routerLinkActive="active">
                <fa-icon icon="eye"></fa-icon>
                Mi perfil
              </a>
            </li>
            <li>
              <a class="nav-link" routerLink="/panel-trabajador/opiniones" routerLinkActive="active">
                <fa-icon icon="star"></fa-icon>
                Opiniones
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
