<main role="main" class="container">
    <div class="border-bottom mb-3">
        <h1>Confirmación de correo electrónico</h1>
    </div>

    <div [hidden]="loading || !successfulConfirmation" style="min-height: 400px;">
        <p>
            Su cuenta ha sido confirmada.
        </p>
    </div>

    <div [hidden]="loading || successfulConfirmation" style="min-height: 400px;">
        <p>
            Ha ocurrido un error al intentar confirmar su cuenta.
        </p>
    </div>
</main>
