<main role="main" class="container">
    <div [hidden]="successfulRegistration">
        <div class="border-bottom mb-3">
            <h1 class="h2">Registrarse como trabajador de oficio</h1>
        </div>

        <div class="lead alert alert-primary">
            <p>Registrate como trabajador en la aplicación y empeza a promover tus servicios.</p>
            <p>Usuarios de tu localidad podrán encontrar tu perfil y realizar opiniones sobre distintos aspectos tu trabajo.
              Estas opiniones podrán ser visualizadas luego por otros usuarios de la aplicación, lo que podría resultar en un incremento en tu volumen de clientes.</p>
        </div>

        <div>
            <form #tradesmanRegistrationForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstName">Nombre</label>
                    <input type="text" id="firstName" class="form-control" name="firstName" placeholder="" required [(ngModel)]="model.firstName"
                        #firstName="ngModel">
                    <span [hidden]="firstName.valid || (firstName.pristine && !tradesmanRegistrationForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
                </div>
                <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input type="text" id="lastName" class="form-control" name="lastName" placeholder="" required [(ngModel)]="model.lastName"
                        #lastName="ngModel">
                    <span [hidden]="lastName.valid || (lastName.pristine && !tradesmanRegistrationForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
                </div>

                <div class="form-group">
                    <label for="skilledTradeIds">Oficios</label>
                    <div>
                        <ng-select
                            name="skilledTradeIds"
                            id="skilledTradeIds"
                            [items]="skilledTrades$ | async"
                            [multiple]="true"
                            bindValue="id"
                            [closeOnSelect]="false"
                            [searchable]="false"
                            bindLabel="name"
                            placeholder="Selecione oficios"
                            [(ngModel)]="model.skilledTradeIds"
                            required
                            #skilledTradeIds="ngModel">
                        </ng-select>
                    </div>
                    <div>
                        <span [hidden]="skilledTradeIds.valid || (skilledTradeIds.pristine && !tradesmanRegistrationForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="stateId">Provincia</label>
                    <select [(ngModel)]="stateId"
                            class="form-control"
                            name="stateId"
                            id="stateId"
                            required (change)="onStateChange()"
                            #stateIdFormInput="ngModel">
                        <option *ngFor="let state of states" [ngValue]="state.id">{{state.name}}</option>
                    </select>

                    <span [hidden]="stateIdFormInput.valid || (stateIdFormInput.pristine && !tradesmanRegistrationForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
                </div>

                <div class="form-group">
                    <label for="cityId">Ciudad</label>
                    <select [(ngModel)]="model.cityId"
                            class="form-control"
                            name="cityId"
                            id="cityId"
                            required
                            #cityId="ngModel">
                        <option *ngFor="let city of cities" [ngValue]="city.id">{{city.name}}</option>
                    </select>

                    <span [hidden]="cityId.valid || (cityId.pristine && !tradesmanRegistrationForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Número de teléfono</label>
                    <input type="tel" id="phoneNumber"
                        class="form-control"
                        name="phoneNumber"
                        placeholder=""
                        [textMask]="{mask: phoneNumberMask}"
                        required [(ngModel)]="model.phoneNumber"
                        #phoneNumber="ngModel">

                    <span [hidden]="phoneNumber.valid || (phoneNumber.pristine && !tradesmanRegistrationForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
                </div>

                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" class="form-control" name="email" placeholder="" required [(ngModel)]="model.email"
                        #email="ngModel">

                    <span
                        [hidden]="!email.errors?.required || (email.pristine && !tradesmanRegistrationForm.submitted)"
                        class="invalid-feedback"
                    >Este campo es requerido.</span>
                    <span
                        [hidden]="!email.errors?.email || (email.pristine && !tradesmanRegistrationForm.submitted)"
                        class="invalid-feedback"
                    >Este campo es invalido.</span>
                </div>

                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password"
                            id="password"
                            class="form-control"
                            name="password"
                            placeholder=""
                            required
                            appConfirmEqualValidator="passwordConfirm"
                            [(ngModel)]="model.password"
                            (input)="passwordConfirm.control.updateValueAndValidity()"
                            #password="ngModel">
                    <span [hidden]="!password.errors?.required || (password.pristine && !tradesmanRegistrationForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
                </div>

                <div class="form-group">
                    <label for="passwordConfirm">Repetir contraseña</label>
                    <input  type="password"
                            id="passwordConfirm"
                            class="form-control"
                            name="passwordConfirm"
                            placeholder=""
                            appConfirmEqualValidator="password"
                            required
                            [(ngModel)]="model.passwordConfirm"
                            (input)="password.control.updateValueAndValidity()"
                            #passwordConfirm="ngModel">
                    <span [hidden]="!passwordConfirm.errors?.required || (passwordConfirm.pristine && !tradesmanRegistrationForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
                    <span [hidden]="!passwordConfirm.errors?.notEqual || (passwordConfirm.pristine && !tradesmanRegistrationForm.submitted)" class="invalid-feedback">Los valores ingresados no son iguales.</span>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="submitting">
                    <span *ngIf="submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Registrar
                </button>

            </form>
        </div>
    </div>

    <div [hidden]="!successfulRegistration" style="min-height: 400px;">
        <div class="border-bottom mb-3">
            <h1>Registro exitoso</h1>
        </div>

        <p>Se ha registrado correctamente como persona capacitada en oficios. Por favor, revise su correo electrónico para activar su cuenta.</p>
    </div>
</main>
