@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner-icon {
    margin-left: auto;
    margin-right: auto;
    width: 28px;
    height: 28px;
    border: 3px solid transparent;
    border-top-color: inherit;
    border-left-color: inherit;
    border-radius: 50%;
    -webkit-animation: .6s linear infinite spinner;
    animation: .6s linear infinite spinner;
}
