<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Detalle de cliente</h1>

  <button type="button" class="btn btn-outline-primary" (click)="blockUser()">
    {{ client.blocked ? 'Desbloquear' : 'Bloquear' }}
  </button>

</div>

<div>
  <p><strong>Nombre:</strong>   {{ client.lastName }} {{ client.firstName }}
  <p><strong>Email</strong> {{ client.email }}</p>
  <p><strong>Fecha de registración:</strong> {{ client.createdDate | date : 'd/M/yyyy' }}</p>
  <p><strong>Estado:</strong> {{ client.blocked ? 'Bloqueado' : 'No bloqueado' }}</p>
</div>

<div>
  <h2 class="h3">Opiniones</h2>

  <div *ngFor="let review of reviews">
    <div class="card mb-1">
      <div class="card-body">
        <p><strong>Fecha de realización:</strong><br>
        {{ review.createdDate | date : 'd/M/yyyy' }}
        </p>
        <p><strong>Realizada a:</strong><br>
          {{ review.tradesmanName }}
        </p>
        <p><strong>Puntaje:</strong><br> {{ review.score }}</p>
        <p><strong>Contenido:</strong><br>
        <q>{{ review.text }}</q></p>

        <div class="text-right">
          <button type="button" class="btn btn-primary" (click)="deleteReview(review.id)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
