<main role="main" class="container" style="min-height: 400px;">
  <div class="border-bottom mb-3">
    <h1>Correo electrónico no verificado</h1>
  </div>

  <div class="alert alert-warning" role="alert">
    <p>
      Tu dirección de correo electrónico (<em>{{ email }}</em>) todavía no ha sido verificada.
      Recuerda revisar tu carpeta de SPAM.
    </p>

    <div>
      <button [disabled]="emailSent || sendingEmail" type="button"
              class="btn btn-primary mr-3"
              (click)="resendVerificationEmail()"
      ><span
       *ngIf="sendingEmail" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        {{ !emailSent ? 'Reenviar correo de verificación' : 'El correo ha sido reenviado.' }}</button>
      <a [routerLink]="backUrl">Volver a la pagina de ingreso</a>
    </div>
  </div>
</main>
