<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Inicio</h1>
</div>

<p class="lead">¡Hola {{ tradesman?.name }}!</p>
