<main role="main" class="container">
  <div *ngIf="!hasFinishedLoading">
    <div class="mt-4" style="min-height: 400px;">
      <app-spinner [active]="true"></app-spinner>
    </div>
  </div>

  <div *ngIf="hasFinishedLoading">
    <div class="border-bottom mb-4 pb-2">
      <div class="row">
        <div class="col-md-auto">
          <img
            *ngIf="tradesman"
            style="width:150px;height:150px;"
            class="rounded-circle img-thumbnail"
            [src]="
            tradesman?.imageProfilePath
              ? apiUrl + '/uploads/' + tradesman?.imageProfilePath
              : 'https://lorempixel.com/400/400/people?'
          "
            alt=""
          />
        </div>
        <div class="col-md my-auto">
          <div>
            <h1 class="mb-0">{{ tradesman.lastName + ", " + tradesman.name }}</h1>
          </div>
          <div class="mb-2 mt-0">
            <ngb-rating [rate]="tradesman.averageScore" [readonly]="true" [max]="5">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>
            </ngb-rating>
            <span class="font-italic" style="vertical-align: sub">&nbsp;(Promedio de {{ tradesman?.reviews?.length }} opiniones)</span>
          </div>
          <div>
            <span class="font-italic">Registrado el {{ tradesman.dateCreated | date : 'd/M/yyyy' }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="card">
          <div class="card-header">
            Información de contacto
          </div>
          <div class="card-body card-text">
            <table>
              <tr *ngIf="tradesman?.email">
                <td class="text-center"><fa-icon icon="envelope"></fa-icon></td>
                <td class="pl-1">
                  <a [href]="'mailto://' + tradesman?.email">{{
                    tradesman?.email
                    }}</a>
                </td>
              </tr>
              <tr *ngIf="tradesman?.phoneNumber">
                <td class="text-center"><fa-icon icon="mobile-alt"></fa-icon></td>
                <td class="pl-1">
                  <a
                    [href]="
                    'tel://' +
                    tradesman.phoneNumber
                      .replace('(', '')
                      .replace(')', '')
                      .replace('-', '')
                  "
                  >{{ tradesman?.phoneNumber }}</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md mt-1 mt-md-0">
        <div class="card">
          <div class="card-header">
            Oficios
          </div>
          <div class="card-body">
            <ul class="card-text">
              <li
                *ngFor="
                let tradesmanSkilledTrade of tradesman?.tradesmanSkilledTrades
              "
              >
                {{ tradesmanSkilledTrade.skilledTrade.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!!tradesman.profileMarkup" class="row mt-2">
      <div class="col-sm">
        <div class="card">
          <div class="card-body ck-content" [innerHTML]="tradesman.profileMarkup">

          </div>
        </div>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-body">

        <div class="row">
          <div class="col-auto">
            <h2 class="h3">Opiniones</h2>
          </div>
          <div class="col text-right" *ngIf="!clientReviewId">
            <a
              class="btn btn-outline-secondary"
              role="button"
              routerLink="/escribir-evaluacion/{{ tradesman.id }}"
            >Realizar opinión</a
            >
          </div>
        </div>

        <div *ngIf="clientReviewId">
          <div class="alert alert-info mt-2">
            <div>Ya has realizado una opinión sobre este trabajador.</div><div class="mt-2"><a  class="btn btn-secondary" [routerLink]="'/opiniones/' + clientReviewId">Actualizar tu opinión</a></div>
          </div>
        </div>

        <div class="mt-2">
          <div *ngIf="tradesman">
            <div *ngFor="let review of reviews">
              <!-- Only show review if is not empty -->
              <div *ngIf="review.text" class="card mb-4">
                <app-tradesman-review [review]="review"></app-tradesman-review>
              </div>
            </div>
            <div *ngIf="!(tradesman?.reviews?.length)">
              <p class="lead">El trabajador todavía no ha recibido ninguna opinión.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
