<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" routerLink="/"  (click)="collapseNavbar();">
        <img src="assets/images/brand-logo.png" width="30" alt="Logo del sitio">&nbsp;&nbsp; TodoOficios
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navbarsExampleDefault" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-label="Activar navegación">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
          <li *ngIf="clientIsLogged()">
            <div>
              <span class="navbar-text">Autenticado como: {{ loggedClient.first_name }}</span>
              <button type="button" class="btn btn-outline-success mx-2 my-2 my-sm-0" (click)="logout()">Salir</button>
            </div>
          </li>
          <li class="nav-item" *ngIf="!clientIsLogged()">
              <a class="nav-link" routerLink="/ingreso" routerLinkActive="active" (click)="collapseNavbar();">Ingreso</a>
          </li>
        </ul>
    </div>
</nav>
