<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
>
  <div class="row">
    <div class="col-md-auto">
      <img
        *ngIf="tradesman"
        style="width:150px;height:150px;"
        class="rounded-circle img-thumbnail"
        [src]="
          tradesman?.imageProfilePath
            ? apiUrl + '/uploads/' + tradesman?.imageProfilePath
            : 'https://lorempixel.com/400/400/people?'
        "
       alt="Imagen de perfil de trabajador"/>
    </div>
    <div class="h2 col-md my-auto">
      <h1>{{ tradesman.lastName + ", " + tradesman.name }}</h1>
    </div>
  </div>
</div>

<div
  *ngIf="this.notification"
  class="alert alert-{{ this.notification.type }}"
  role="alert"
>
  {{ this.notification.message }}
</div>

<div class="text-right mb-3">
  <a
    class="btn btn-primary"
    role="button"
    routerLink="/panel-trabajador/editar-perfil"
    >Editar perfil</a
  >
</div>

<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        Información de contacto
      </div>
      <div class="card-body card-text">
        <table>
          <tr *ngIf="tradesman?.email">
            <td class="text-center"><fa-icon icon="envelope"></fa-icon></td>
            <td class="pl-1">
              <a [href]="'mailto://' + tradesman?.email">{{
                tradesman?.email
              }}</a>
            </td>
          </tr>
          <tr *ngIf="tradesman?.phoneNumber">
            <td class="text-center"><fa-icon icon="mobile-alt"></fa-icon></td>
            <td class="pl-1">
              <a
                [href]="
                  'tel://' +
                  tradesman.phoneNumber
                    .replace('(', '')
                    .replace(')', '')
                    .replace('-', '')
                "
                >{{ tradesman?.phoneNumber }}</a
              >
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md mt-1 mt-md-0">
    <div class="card">
      <div class="card-header">
        Oficios
      </div>
      <div class="card-body">
        <ul class="card-text">
          <li
            *ngFor="
              let tradesmanSkilledTrade of tradesman?.tradesmanSkilledTrades
            "
          >
            {{ tradesmanSkilledTrade.skilledTrade.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm">
    <div class="card">
      <div class="card-body ck-content" [innerHTML]="tradesman.profileMarkup">

      </div>
    </div>
  </div>
</div>
