<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Oficios</h1>
</div>

<div
  *ngIf="this.notification"
  class="alert alert-{{ this.notification.type }}"
  role="alert"
>
  {{ this.notification.message }}
</div>

<div class="mb-3 text-right">
  <a class="btn btn-primary" routerLink="/area-administrador/oficios/nuevo">Crear nuevo oficio</a>
</div>

<div class="table-responsive-sm">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let skilledTrade of skilledTrades">
        <td>{{ skilledTrade.name}}</td>
        <td>
          <a class="btn btn-primary btn-sm mr-1" routerLink="/area-administrador/oficios/{{skilledTrade.id}}/editar">Editar</a>
          <button class="btn btn-primary btn-sm" type="button" (click)="deleteSkilledTrade(skilledTrade.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
