<main role="main" class="container">
  <div class="border-bottom mb-3">
    <h1>Encontrá un trabajador de oficio</h1>
    <p>Encontrá personas capacitadas para realizar reparaciones en tu hogar o establecimiento comercial.</p>
  </div>

  <div *ngIf="!searchSettingsReady">
    <div class="mt-4" style="min-height: 200px;">
      <app-spinner [active]="true"></app-spinner>
    </div>
  </div>

  <div *ngIf="searchSettingsReady">
    <div>
      <form #searchForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-row">

          <div class="form-group col-md">
            <div>
              <select [(ngModel)]="searchModel.skilledTradeId" class="form-control" name="skilledTradeId" id="skilledTradeId"
                required #skilledTradeId="ngModel">
                <option disabled [ngValue]="null">Seleccione un oficio</option>
                <option *ngFor="let skilledTrade of skilledTradesOptions" [value]="skilledTrade.id">{{skilledTrade.name}}</option>
              </select>
            </div>

            <span [hidden]="skilledTradeId.valid || (skilledTradeId.pristine && !searchForm.submitted)" class="invalid-feedback text-left">Este
              campo es requerido.</span>
          </div>

          <div class="form-group col-md">
            <select [ngModel]="searchModel.state" class="form-control" name="state" id="state" required (ngModelChange)="stateSelectChange($event)"
              #state="ngModel">
              <option disabled [ngValue]="null">Seleccione una provincia</option>
              <option *ngFor="let state of statesOptions" [ngValue]="state">{{state.name}}</option>
            </select>
            <span [hidden]="state.valid || (state.pristine && !searchForm.submitted)" class="invalid-feedback text-left">Este
              campo es requerido.</span>
          </div>

          <div class="form-group col-md">
            <select [(ngModel)]="searchModel.cityId" class="form-control" name="cityId" id="cityId" required #cityId="ngModel">
              <option disabled [ngValue]="null">Seleccione una localidad</option>
              <option *ngFor="let city of searchModel.state ? searchModel.state.cities : []" [value]="city.id">{{city.name}}</option>
            </select>
            <span [hidden]="cityId.valid || (cityId.pristine && !searchForm.submitted)" class="invalid-feedback text-left">Este
              campo es requerido.</span>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <button class="btn btn-lg btn-primary custom-mobile-btn" role="button">Buscar</button>
          </div>
        </div>
      </form>
    </div>

    <div>
      <hr>
    </div>

    <div *ngIf="!resultsReady">
      <div class="mt-4" style="min-height: 200px;">
        <app-spinner [active]="true"></app-spinner>
      </div>
    </div>

    <div *ngIf=resultsReady>
      <div *ngIf="tradesmen.length">
        <div *ngFor="let tradesman of tradesmen; let i = index">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <img alt="Imagén del trabajador" style="width:150px;height:150px;" class="rounded-circle img-thumbnail"
                       [src]="(tradesman?.imageProfilePath) ? (apiUrl + '/uploads/' + tradesman?.imageProfilePath) : ('https://lorempixel.com/400/400/people?' + i)">
                </div>
                <div class="col">
                  <h5><a routerLink="/detalle/{{tradesman.id}}">{{ tradesman.name }} {{ tradesman.lastName }}</a></h5>

                  <div>{{ tradesman.tradesmanSkilledTrades[0].skilledTrade.name }}</div>

                  <div>
                    <ngb-rating [rate]="tradesman.averageScore" [readonly]=true [max]=5>
                        <ng-template let-fill="fill" let-index="index" #templateName>
                          <span class="star" [class.full]="fill === 100">
                              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                          </span>
                        </ng-template>
                    </ngb-rating> <span class="font-italic" style="vertical-align: sub">&nbsp;({{tradesman.reviews.length}})</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ngb-pagination [collectionSize]="totalNumberOfResults" [(page)]="page" [maxSize]="5" [rotate]="false" [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>
      </div>

      <!-- No tradesman found message -->
      <div *ngIf="!tradesmen.length">
        <p class="lead mt-2 text-warning" style="min-height: 200px;">Todavía no se encuentran trabajadores registrados en tu localidad.</p>
      </div>

    </div>

  </div>
</main>
