<main role="main" class="container">
  <div class="form-signin">
    <div>
      <div class="mb-3 text-center border-bottom">
        <h1 class="h3 mb-3 font-weight-normal">Ingreso</h1>
      </div>

      <div *ngIf="this.message" class="mb-3 alert alert-warning" role="alert">
        {{ this.message }}
      </div>

      <div class="text-center mb-3 mt-3">
        <app-login-facebook (userIsBlocked)="showUserIsBlockedMessage()" (loginSuccessful)="facebookLoginSuccessful()"></app-login-facebook>
      </div>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onLogin()" >
      <div class="form-group">
        <label for="email">Email</label>
        <input
          autocomplete="username email"
          type="email"
          id="email"
          class="form-control"
          name="email"
          placeholder=""
          [(ngModel)]="loginData.email"
          #email="ngModel"
          required
          email
        />
        <span
          [hidden]="!email.errors?.required || email.pristine"
          class="invalid-feedback"
          >Este campo es requerido.</span
        >
        <span
          [hidden]="!email.errors?.email || email.pristine"
          class="invalid-feedback"
          >Este campo es invalido.</span
        >
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          autocomplete="current-password"
          id="password"
          class="form-control"
          name="password"
          placeholder=""
          required
          [(ngModel)]="loginData.password"
          #password="ngModel"
        />
      </div>

      <div class="alert alert-danger" role="alert" [hidden]="!invalidCredentials">
        Email y/o contraseñas incorrectos.
      </div>

      <div class="alert alert-danger" role="alert" [hidden]="!clientIsBlocked">
        Su usuario se encuentra deshabilitado.
      </div>

      <div class="text-center">
        <button class="btn btn-primary" type="submit" [disabled]="submitting">
          <span
            [hidden]="!submitting"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Ingresar
        </button>
      </div>
    </form>
  </div>
  <div class="lead text-center">
    Registrate <a [routerLink]="['/registro']">aquí</a>.
  </div>
  <div class="lead text-center">
    Si sos trabajador de oficio, ingresa <a [routerLink]="['/ingreso-trabajador']">aquí</a>.
  </div>
</main>
