<button style="background-color: #4267B2;" class="btn btn-primary btn-block"
        (click)="signInWithFB()"><span class="mr-2" style="font-size: 20px;"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></span>
  Ingresar con Facebook</button>
