<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Trabajadores</h1>
</div>

<!--
<div
  *ngIf="this.notification"
  class="alert alert-{{ this.notification.type }}"
  role="alert"
>
  {{ this.notification.message }}
</div>
-->

<form>
  <div class="form-group form-inline">
    Búsqueda: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
    <span class="ml-3" *ngIf="service.loading$ | async">Buscando...</span>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" sortable="name" (sort)="onSort($event)">Nombre</th>
      <th scope="col" sortable="cityAndState" (sort)="onSort($event)">Ciudad</th>
      <th scope="col" sortable="createdDate" (sort)="onSort($event)">Fecha de registración</th>
      <th scope="col" sortable="blocked" (sort)="onSort($event)">Habilitado</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tradesman of tradesmen$ | async">
      <td>
        <ngb-highlight [result]="tradesman.lastName + ' '  + tradesman.firstName"
                       [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="tradesman.cityAndState" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="tradesman.createdDate ?  (tradesman.createdDate | date : 'd/M/yyyy') : 'Not defined'"
                       [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td>
        {{ !tradesman.blocked ?  'Sí' : 'No' }}
      </td>
      <td>
        <a class="btn btn-primary btn-sm mr-1" routerLink="/area-administrador/trabajadores/{{tradesman.id}}">Ver</a>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10 resultados por página</option>
      <option [ngValue]="20">20 resultados por página</option>
      <option [ngValue]="30">30 resultados por página</option>
    </select>
  </div>

</form>
