<ng-template let-fill="fill" let-index="index" #ratingTemplate>
    <span class="star" [class.full]="fill === 100" style="line-height: 1;">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
</ng-template>

<div class="card-body">
    <div class="row">
        <div class="col-md-auto">
            <div class="text-center mb-2">
                <b style="line-height: normal;">Puntaje promedio</b><br><!--
                --><ngb-rating [rate]="review.averageScore" [readonly]="true" [max]="5" [starTemplate]="ratingTemplate">
                </ngb-rating>
            </div>

            <div class="text-center mb-2" *ngFor="let qualityScore of processQualityScores(review.qualityScores);">
                <b>{{ qualityScore.tradesmanQuality.label}}</b><br><!--
                --><ngb-rating [rate]="qualityScore.score" [readonly]="true" [max]="5" [starTemplate]="ratingTemplate">
                </ngb-rating>                
            </div>
        </div>

        <div class="col-md">
            <p *ngFor="let reviewParagraphs of getReviewParagraphs(review.text)">
                <em>{{ review.text }}</em>
            </p>

            <p *ngIf="review.anonymous" class="text-muted">
                opinión realizada el {{ review.createdDate | date: "dd/MM/yy" }}
            </p>

            <p *ngIf="!review.anonymous" class="text-muted">
                opinión realizada por {{ review.client.firstName }} el {{ review.createdDate | date: "dd/MM/yy" }}
            </p>
        </div>
    </div>
</div>