<main role="main" class="container">
    <div [hidden]="successfulRegistration">
        <div class="border-bottom mb-3">
            <h1 class="h2">Registro</h1>
        </div>

        <p class="lead">
          Registrate al sitio para poder realizar opiniones sobre trabajadores de los cuales hayas hecho uso de sus servicios.
        </p>

        <div>
            <form #clientRegistrationForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstName">Nombre</label>
                    <input type="text" id="firstName" class="form-control" name="firstName" placeholder="" required [(ngModel)]="clientRegistrationDto.firstName"
                        #firstName="ngModel">
                    <span [hidden]="firstName.valid || (firstName.pristine && !clientRegistrationForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
                </div>
                <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input type="text" id="lastName" class="form-control" name="lastName" placeholder="" required [(ngModel)]="clientRegistrationDto.lastName"
                        #lastName="ngModel">
                    <span [hidden]="lastName.valid || (lastName.pristine && !clientRegistrationForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
                </div>


                <div class="form-group">
                  <label for="email">Correo electrónico</label>
                  <input type="email" id="email" class="form-control" name="email" placeholder="" required [(ngModel)]="clientRegistrationDto.email"
                         #email="ngModel"
                         email
                  >
                  <span
                    [hidden]="!email.errors?.required || (email.pristine && !clientRegistrationForm.submitted)"
                    class="invalid-feedback"
                  >Este campo es requerido.</span>
                  <span
                    [hidden]="!email.errors?.email || (email.pristine && !clientRegistrationForm.submitted)"
                    class="invalid-feedback"
                  >Este campo es invalido.</span>
                </div>

                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password"
                            id="password"
                            class="form-control"
                            name="password"
                            placeholder=""
                            required
                            [(ngModel)]="clientRegistrationDto.password"
                            #password="ngModel">
                    <span [hidden]="!password.errors?.required || (password.pristine && !clientRegistrationForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
                </div>

              <div class="form-group">
                <label for="passwordConfirm">Repetir Contraseña</label>
                <input  type="password"
                        id="passwordConfirm"
                        class="form-control"
                        name="passwordConfirm"
                        placeholder=""
                        appConfirmEqualValidator="password"
                        required
                        [(ngModel)]="clientRegistrationDto.passwordConfirm"
                        (input)="password.control.updateValueAndValidity()"
                        #passwordConfirm="ngModel">
                <span [hidden]="!passwordConfirm.errors?.required || (passwordConfirm.pristine && !clientRegistrationForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
                <span [hidden]="!passwordConfirm.errors?.notEqual || (passwordConfirm.pristine && !clientRegistrationForm.submitted)" class="invalid-feedback">Los valores ingresados no son iguales.</span>
              </div>

                <button type="submit" class="btn btn-primary" [disabled]="submitting">
                    <span *ngIf="submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Registrar
                </button>

            </form>
        </div>
    </div>

    <div [hidden]="!successfulRegistration" style="min-height: 400px;">
        <div class="border-bottom mb-3">
            <h1>Registro exitoso</h1>
        </div>

        <p class="lead">Se ha registrado correctamente. Por favor, revise su correo electrónico para activar su cuenta.</p>
    </div>
</main>
