<div class="site-layout">
    <app-navbar></app-navbar>

    <router-outlet></router-outlet>

    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <!--<img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">-->
                    TodoOficios
                    <small class="d-block mb-3 text-muted">© 2018-2020</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Clientes</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" routerLink="/ingreso">Ingreso</a>
                        </li>
                        <li>
                            <a class="text-muted" routerLink="/registro">Registro</a>
                        </li>
                    </ul>
                </div>

                <div class="col-6 col-md">
                    <h5>Trabajadores</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" routerLink="/ingreso-trabajador">Ingreso</a>
                        </li>
                        <li>
                            <a class="text-muted" routerLink="/registro-persona-de-oficio">Registro</a>
                        </li>
                    </ul>
                </div>

                <div class="col-6 col-md">

                </div>
            </div>
        </footer>
    </div>
</div>
