<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Detalle de trabajador</h1>

  <button type="button" class="btn btn-outline-primary" (click)="blockUser()">
    {{ tradesman.blocked ? 'Desbloquear' : 'Bloquear' }}
  </button>

</div>

<div class="row mb-2">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        Información personal
      </div>
      <div class="card-body card-text tradesman-detail">
        <table>
          <tr class="pb-2">
            <th class="text-left">Nombre:</th>
            <td class="pl-2">
              {{ tradesman.lastName }} {{ tradesman.name }}
            </td>
          </tr>
          <tr class="pb-2">
            <th class="text-left">Fecha de registro:</th>
            <td class="pl-2">
              {{ tradesman.dateCreated | date : 'd/M/yyyy' }}
            </td>
          </tr>
          <tr class="pb-2">
            <th class="text-left">Correo electronico:</th>
            <td class="pl-2">
              <a [href]="'mailto://' + tradesman?.email">{{
                  tradesman?.email
                }}</a>
            </td>
          </tr>
          <tr class="pb-2">
            <th class="text-left">Teléfono:</th>
            <td class="pl-2">
              <a
                [href]="
                    'tel://' +
                    tradesman.phoneNumber
                      .replace('(', '')
                      .replace(')', '')
                      .replace('-', '')
                  "
              >{{ tradesman?.phoneNumber }}</a>
            </td>
          </tr>
          <tr class="pb-2">
            <th class="text-left">Puntaje promedio:</th>
            <td class="pl-2">
              {{ tradesman.averageScore ? tradesman.averageScore : 'Sin definir'  }}
            </td>
          </tr>
          <tr class="pb-2">
            <th class="text-left">Estado:</th>
            <td class="pl-2">
              {{ tradesman.blocked ? 'Bloqueado' : 'No bloqueado'  }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md mt-1 mt-md-0">
    <div class="card">
      <div class="card-header">
        Oficios
      </div>
      <div class="card-body">
        <ul class="card-text">
          <li
            *ngFor="let tradesmanSkilledTrade of tradesman?.tradesmanSkilledTrades"
          >
            {{ tradesmanSkilledTrade.skilledTrade.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <a routerLink="/detalle/{{tradesman.id}}" target="_blank">Ir a perfil publico de trabajador</a>
  </div>
</div>

<div class="card mt-2">
  <div class="card-body">
    <h2 class="h3">Opiniones</h2>

    <div *ngFor="let review of reviews">
      <div class="card mb-1">
        <div class="card-body">
          <p><strong>Fecha de realización:</strong><br>
            {{ review.createdDate | date : 'd/M/yyyy' }}
          </p>
          <p><strong>Realizada por:</strong><br>
            {{ review.client ?  (review.client?.lastName + ' ' + review.client?.firstName) : ''}}
          </p>
          <p><strong>Puntaje:</strong><br> {{ review.score }}</p>
          <p><strong>Contenido:</strong><br>
            <q>{{ review.text }}</q></p>

          <div class="text-right">
            <button type="button" class="btn btn-primary" (click)="deleteReview(review.id)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!reviews.length">
      <p class="lead">No existe ninguna opinión para este trabajador.</p>
    </div>
  </div>
</div>

