<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Edición de oficio</h1>
</div>

<form (ngSubmit)="onSubmit()" #skilledTradeForm="ngForm">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="model.name" name="name"
           #name="ngModel">

    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Este campo es requerido
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!skilledTradeForm.form.valid">Actualizar</button>
</form>
