<main role="main" class="container">
  <div *ngIf="!hasFinishedLoading">
    <div class="mt-4" style="min-height: 400px;">
      <app-spinner [active]="true"></app-spinner>
    </div>
  </div>

  <div *ngIf="hasFinishedLoading">
    <div class="border-bottom mb-3">
      <h1>Actualizar opinión</h1>
    </div>

    <div class="alert alert-info" role="alert">
      Tu opinión puede ayudar a otras personas a la hora de seleccionar un trabajador de oficio y/o que el trabajador de
      oficios
      obtenga nuevos clientes. Tu identidad no es revelada a los trabajadores ni a otros usuarios del sitio.
    </div>

    <p class="font-italic bg-primary"></p>

    <h3>
      Trabajador: {{ review?.tradesman?.lastName && review?.tradesman?.firstName ? review?.tradesman?.firstName + ' ' + review?.tradesman?.lastName : '' }}
    </h3>

    <form class="mb-3" #writeReviewForm="ngForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend>Valoración</legend>
        <p>Asigna un puntaje del 1 al 5 a los distintos aspectos del trabajador:</p>
        <div class="form-group" *ngFor="let tradesmanQuality of tradesmanQualities; index as i;">
          <label for="score-{{i}}">{{ tradesmanQuality.label}}</label>
          <div>
            <ngb-rating name="score-{{i}}" [(ngModel)]="model.qualityScores[i].score" [max]=5 #score="ngModel" required>
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>
            </ngb-rating>
          </div>

          <span [hidden]="score.valid || (score.pristine && !writeReviewForm.submitted)" class="invalid-feedback">Este campo es requerido.</span>
        </div>
      </fieldset>

      <fieldset>
        <legend>Experiencia</legend>
        <p>
          Si lo deseas, podes redactar como fue tu experiencia con este trabajador. Por ejemplo, podes comentar sobre el trabajo por el que contactaste al trabajador,
          tu grado de conformidad general o inconvenientes hayas tenido. Tu experiencia sera presentada en la página del trabajador.
        </p>
        <div class="form-group">
          <label for="text">Experiencia (opcional)</label>
          <textarea id="text" class="form-control" name="text" [(ngModel)]="model.text" #text="ngModel" rows="7">
          </textarea>
        </div>
        <div class="form-group">
          <label for="anonymous">Presentar esta opinión anónimamente (tu nombre no sera visible a otros usuarios)</label>
          <select class="form-control" id="anonymous" name="anonymous" [(ngModel)]="model.anonymous">
            <option [ngValue]="true">Sí</option>
            <option [ngValue]="false">No</option>
          </select>
        </div>
      </fieldset>
      <button class="btn btn-primary mr-2" type="submit" [disabled]="submitting">
        <span [hidden]="!submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Actualizar
      </button>
      <a class="btn btn-secondary" routerLink="/detalle/{{review?.tradesman?.tradesmanId}}">Cancelar</a>
    </form>
  </div>
</main>
