<main role="main" class="container">
  <form #loginForm="ngForm" (ngSubmit)="onLogin()" class="form-signin">
    <div class="mb-3 text-center border-bottom">
      <h1 class="h3 mb-3 font-weight-normal">Ingreso administrador</h1>
    </div>
    <div class="form-group">
      <label for="email">Usuario</label>
      <input autocomplete="username"
             type="text"
             id="email"
             class="form-control"
             name="email"
             placeholder=""
             [(ngModel)]="loginData.email"
             #email="ngModel"
             required>
      <span [hidden]="!email.errors?.required || email.pristine" class="invalid-feedback">Este campo es requerido.</span>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" autocomplete="current-password" id="password" class="form-control" name="password" placeholder="" required [(ngModel)]="loginData.password"
             #password="ngModel">
    </div>

    <div class="alert alert-danger" role="alert" [hidden]="!invalidCredentials">
      Email y/o contraseñas incorrectos.
    </div>

    <div class="text-center">
      <button class="btn btn-primary" type="submit" [disabled]="submitting">
        <span [hidden]="!submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Ingresar
      </button>
    </div>
  </form>

</main>
