<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Edición de perfil</h1>
</div>

<div *ngIf="hasFinishedLoading">
  <form #updateProfileForm="ngForm" (ngSubmit)="onSubmit()" class="mb-5">
    <div class="form-group">
        <label for="firstName">Nombre</label>
        <input type="text" id="firstName" class="form-control" name="firstName" placeholder="" required [(ngModel)]="tradesmanUpdateDto.firstName"
            #firstName="ngModel">
        <span [hidden]="firstName.valid || firstName.pristine" class="invalid-feedback">Este campo es requerido.</span>
    </div>
    <div class="form-group">
        <label for="lastName">Apellido</label>
        <input type="text" id="lastName" class="form-control" name="lastName" placeholder="" required [(ngModel)]="tradesmanUpdateDto.lastName"
            #lastName="ngModel">
        <span [hidden]="lastName.valid || lastName.pristine" class="invalid-feedback">Este campo es requerido.</span>
    </div>

    <div class="form-group">
        <label for="skilledTradeIds">Oficios</label>
        <div>
            <ng-select
                name="skilledTradeIds"
                id="skilledTradeIds"
                [items]="skilledTrades$ | async"
                [multiple]="true"
                bindValue="id"
                [closeOnSelect]="false"
                [searchable]="false"
                bindLabel="name"
                placeholder="Selecione oficios"
                [(ngModel)]="tradesmanUpdateDto.skilledTradeIds">
            </ng-select>
        </div>
    </div>

    <div class="form-group">
        <label for="stateId">Provincia</label>
        <select [(ngModel)]="stateId" class="form-control" name="stateId" id="stateId" required (change)="onStateChange()">
            <option *ngFor="let state of states" [ngValue]="state.id">{{state.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="cityId">Ciudad</label>
        <select [(ngModel)]="tradesmanUpdateDto.cityId" class="form-control" name="cityId" id="cityId" required>
            <option *ngFor="let city of cities" [ngValue]="city.id">{{city.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" class="form-control" name="email" placeholder="" required [(ngModel)]="tradesmanUpdateDto.email"
            #email="ngModel">
        <span [hidden]="email.valid || email.pristine" class="invalid-feedback">Este campo es requerido.</span>
    </div>

    <div class="form-group">
        <label for="phoneNumber">Número de teléfono</label>
        <input type="tel" id="phoneNumber"
            class="form-control"
            name="phoneNumber"
            placeholder=""
            [textMask]="{mask: phoneNumberMask}"
            required [(ngModel)]="tradesmanUpdateDto.phoneNumber"
            #phoneNumber="ngModel">
        <span [hidden]="phoneNumber.valid || phoneNumber.pristine" class="invalid-feedback">Este campo es requerido.</span>
    </div>

    <div class="form-group">
        <div>
            <label for="profileImage">Imagén de perfil</label>
        </div>
        <div *ngIf="profileImageUrl">
            <img [src]="profileImageUrl" height="200" alt=""> <br/>
        </div>
        <div *ngIf="!profileImageUrl">
            <em>No ha subido ninguna imagén de perfil</em>
        </div>

        <input id="profileImage" type="file" class="form-control-file" (change)="onSelectFile($event)">
    </div>

    <div class="form-group">
        <label for="editorData">Contenido de perfil</label>
        <ckeditor id="editorData" name="editorData"  [(ngModel)]="tradesmanUpdateDto.profileMarkup" [editor]="Editor" [config]="editorConfig"></ckeditor>
    </div>

    <button class="btn btn-primary mr-1" type="submit" [disabled]="submitting">
        <span *ngIf="submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Actualizar
    </button>
    <a class="btn btn-secondary" [class.disabled]="submitting" routerLink="/panel-trabajador/perfil">Cancelar</a>
  </form>
</div>

<div *ngIf="!hasFinishedLoading">
  <app-spinner></app-spinner>
</div>

